<div class="well">
	<table class="table">
		<thead>
			<tr>
				<th><strong><h2>Grupo</h2></strong></th>
				<th>
					<select name="" id="" ng-model="grupo.periodo" ng-options="periodo.ID for periodo in periodos" style="height: 33px">
						<option value="">- Seleccione el Periodo -</option>
					</select>										
				</th>
				<th>								
					<select name="" id="" ng-model="grupo.profesor" ng-options="profesor.nombre for profesor in profesores" style="height: 33px">
						<option value="">- Seleccione el Profesor -</option>
					</select>					
				</th>
				<th>
					<select name="" id="" ng-model="grupo.curso" ng-options="curso.nombre for curso in cursos" style="height: 33px">
						<option value="">- Seleccione el Curso -</option>
					</select>					
				</th>
				<th><input class="form-control" ng-model="grupo.codigo" placeholder="Código"></th>
				<th><input class="form-control" ng-model="grupo.cupo" placeholder="Cupo"></th>		
				<th><button class="btn btn-primary" ng-click="insertar()">Insertar</button></th>		
				<th><button class="btn btn-info" ng-click="actualizar()">Actualizar</button></th>	
			</tr>			
			<tr>
				<th>&nbsp;</th>
				<th>Periodo</th>
				<th>Profesor</th>
				<th>Curso</th>
				<th>Código</th>
				<th>Cupo</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>	
			<tr ng-repeat="grupo in grupos">  <!-- Recorrer el array -->
				<td>&nbsp;</td>
				<td>{{grupo.periodoID}}</td>
				<td>{{grupo.profesorID}}</td>
				<td>{{grupo.cursoID}}</td>
				<td>{{grupo.codigo}}</td>
				<td>{{grupo.cupo}}</td>
				<td><button class="btn btn-warning" ng-click="editar(grupo.codigo)">Editar</button></td>
				<td>&nbsp;</td>
			</tr>
		</tbody>		
	</table>
</div>
