<div class="well">
	<table class="table">
		<thead>
			<tr>	
				<th><strong><h2>Miembro</h2></strong></th>
				<th>&nbsp;</th>
				<th>
					<select name="" id="" ng-model="miembro.grupo" ng-options="grupo.codigo for grupo in grupos" style="height: 33px">
						<option value="">- Seleccione el Grupo -</option>
					</select>									
				</th>
				<th>								
					<select name="" id="" ng-model="miembro.estudiante" ng-options="estudiante.nombre for estudiante in estudiantes" style="height: 33px">
						<option value="">- Seleccione el Estudiante -</option>
					</select>					
				</th>				
				<!--<th><input class="form-control" ng-model="miembro.grupoID" placeholder="ID: Grupo"></th>
				<th><input class="form-control" ng-model="miembro.estudianteID" placeholder="ID: Estudiante"></th>-->
				<th><button class="btn btn-primary" ng-click="insertar()">Insertar</button></th>	
				<th>&nbsp;</th>
			</tr>	
			<tr>
				<th>Estado</th>
				<th>Nota Acumulada</th>
				<th>Grupo</th>
				<th>Estudiante</th>
				<th>Retiro</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>	
			<tr ng-repeat="miembro in miembros">  <!-- Recorrer el array -->
				<td>{{miembro.estado}}</td>
				<td>{{miembro.notaAcumulada}}</td>
				<td>{{miembro.grupoID}}</td>
				<td>{{miembro.estudianteID}}</td>
				<td><button class="btn btn-warning" ng-click="retirarJustificamente(miembro.ID)">Justificado</button></td>
				<td><button class="btn btn-warning" ng-click="retirarInjustificamente(miembro.ID)">Injustificado</button></td>
			</tr>
		</tbody>		
	</table>
</div>