<div class="well">
	<table class="table">
		<thead>
			<tr>
				<th>Fecha de Inicio</th>
				<th>Fecha de Fin</th>
				<th>Acción</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input class="form-control" ng-model="periodo.fechaInicio" placeholder="aaaa-mm-dd"></td>
				<td><input class="form-control" ng-model="periodo.fechaFin" placeholder="aaaa-mm-dd"></td>
				<td><button class="btn btn-primary" ng-click="insertar()">Insertar</button></td>
				<td><button class="btn btn-info" ng-click="actualizar()">Actualizar</button></td>
			</tr>
			<tr ng-repeat="periodo in periodos">  <!-- Recorrer el array -->
				<td>{{periodo.fechaInicio}}</td>
				<td>{{periodo.fechaFin}}</td>
			</tr>		
		</tbody>		
	</table>
</div>
