<div class="well">	
	<table class="table">
		<thead>
			<tr>
				<th><strong><h2>Periodo</h2></strong></th>
				<th><input class="form-control" ng-model="periodo.fechaInicio" placeholder="Fecha de Inicio (aaaa-mm-dd)"></th>
				<th><input class="form-control" ng-model="periodo.fechaFin" placeholder="Fecha de Fin (aaaa-mm-dd)"></th>
				<th><button class="btn btn-primary" ng-click="insertar()">Insertar</button>
					<button class="btn btn-info" ng-click="actualizar()">Actualizar</button>
				</th>
			</tr>
			<tr>
				<th>ID</th>
				<th>Fecha de Inicio</th>
				<th>Fecha de Fin</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="periodo in periodos">  <!-- Recorrer el array -->
				<td>{{periodo.ID}}</td>			
				<td>{{periodo.fechaInicio}}</td>
				<td>{{periodo.fechaFin}}</td>
				<td><button class="btn btn-warning" ng-click="editar(periodo.fechaInicio)">Editar</button></td>
			</tr>		
		</tbody>		
	</table>
</div>
